Contact Merge and Email System/Contact Merge and Email System.json
{
  "name": "Contact Merge and Email System",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-144, -96],
      "id": "manual-trigger-node",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "Sheet1",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [112, -224],
      "id": "get-sheet-1-node",
      "name": "Get sheet 1"
    },
    {
      "parameters": {
        "documentId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "Sheet2",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [112, 64],
      "id": "get-sheet-2-node",
      "name": "Get sheet 2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "Fullname",
              "value": "={{ $json.firstname }} {{ $json.lastname }}",
              "type": "string"
            },
            {
              "name": "Email",
              "value": "={{ $json.email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [320, -224],
      "id": "edit-fields-1-node",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "Fullname",
              "value": "={{ $json.Name }} {{ $json.Family }}",
              "type": "string"
            },
            {
              "name": "Email",
              "value": "={{ $json.Contact }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [320, 64],
      "id": "edit-fields-2-node",
      "name": "Edit Fields 2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [624, -80],
      "id": "merge-node",
      "name": "Merge"
    },
    {
      "parameters": {
        "fieldToSplitOut": "Email",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [832, -80],
      "id": "split-out-node",
      "name": "Split Out"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Thanks!",
        "message": "Your message content here",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [1040, -80],
      "id": "send-message-node",
      "name": "Send a message"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          { "node": "Get sheet 1", "type": "main", "index": 0 },
          { "node": "Get sheet 2", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get sheet 1": {
      "main": [
        [
          { "node": "Edit Fields", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get sheet 2": {
      "main": [
        [
          { "node": "Edit Fields 2", "type": "main", "index": 0 }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          { "node": "Merge", "type": "main", "index": 0 }
        ]
      ]
    },
    "Edit Fields 2": {
      "main": [
        [
          { "node": "Merge", "type": "main", "index": 1 }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          { "node": "Split Out", "type": "main", "index": 0 }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          { "node": "Send a message", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "id": "Merge_Split_Template_Public",
  "tags": []
}