Google Sheet Field Edit/Google Sheet Field Edit.json
{
  "name": "Google Sheet Field Edit",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-672, -128],
      "id": "manual-trigger-node",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "Sheet1",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-448, -128],
      "id": "google-sheets-node",
      "name": "Get row(s) in sheet"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "Fullname",
              "value": "={{ $json.Firstname }} {{ $json.Lastname.toUpperCase() }}",
              "type": "string"
            },
            {
              "name": "Age",
              "value": "={{ $json.Age + 10 }}",
              "type": "number"
            },
            {
              "name": "gender",
              "value": "={{ $json.Gender }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-208, -128],
      "id": "edit-fields-node",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "id": "Google_Sheet_Field_Edit_Template_Public",
  "tags": []
}